# React Native
node_modules/
npm-debug.log
yarn-error.log
.expo/
.vscode/
.idea/
build/
ios/Pods/
ios/Podfile.lock
android/.gradle/
android/app/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/
.DS_Store
.env